<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://speechservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-ch1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpeechService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SpeechService</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ISTORE2Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:chq4p64syr.database.windows.net,1433;Initial Catalog=SpeechDB;User ID=SpeechUser@chq4p64syr;Password=Passwrd22" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PhoneService.ISTORE2Entities, PhoneService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:chq4p64syr.database.windows.net,1433;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=SpeechUser;Password=Passwrd22" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:chq4p64syr.database.windows.net,1433;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=SpeechUser;Password=Passwrd22" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISTORE2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ReadtoMeModel.csdl|res://*/ReadtoMeModel.ssdl|res://*/ReadtoMeModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:chq4p64syr.database.windows.net,1433;Initial Catalog=SpeechDB;User ID=SpeechUser@chq4p64syr;Password=Passwrd22"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>