<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TextToWav.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <TextToWav.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=tcp:chq4p64syr.database.windows.net,1433;Initial Catalog=SpeechDB;Persist Security Info=True;User ID=SpeechUser;Password=Passwrd22</value>
            </setting>
            <setting name="URLPath" serializeAs="String">
                <value>http://98.235.195.204/ReadToMe/</value>
            </setting>
            <setting name="OutFilePath" serializeAs="String">
                <value>C:\Users\ashwin\Documents\GitHub\PhoneApp1\ReadToMe\</value>
            </setting>
        </TextToWav.Properties.Settings>
    </applicationSettings>
</configuration>
